/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing:border-box;
}

.warp{
    overflow: hidden;
    background-image: url(https://img.51miz.com/Element/00/64/91/45/05067f5c_E649145_ad4ae01h.jpg);    
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lavenderblush;
    flex-direction:column;/*建議新增*/
}

.header h2 a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: black;
}

.header h2 a:hover{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: red;
}

.me {
    display: flex;
    align-items: center;
    flex-direction:column;/*建議新增*/
    padding-top: 70px;
}

.me p a{
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
    line-height: 120px;
}

.header {
    z-index: 100%;
    position: fixed;
    top: 0;
    height: calc(100vh-header);
    bottom: 0;
    width: 200px;
    height: 100%;
    background:lavenderblush;
    overflow: hidden;
    transform: translateX(-200px);
    transition: all 0.8s;
}
  

.open .header {
  transform: translateX(0px);
  transition: all 0.5s;
}
.open .BBC {
  transform: translateX(200px);
  transition: all 0.5s;
}


.leaguer a{
    font-size: 30px;
    padding: 5px;
    color: black;
}

.BBC-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lavenderblush;
}

.BBC-icon h2{
    display:none;
}

.BBC-icon h3 a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: black;
}

.BBC-icon h3 a:hover{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: red;
}

.USB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.USB p a {
    color: black;
    margin-left: 130px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.ABC a{
    font-size: 30px;
    padding: 5px;
    color: black;
}


.content {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.WWE {
    max-width: 220px;
    box-shadow: 0 0 10px black;
    background: white;
    padding: 30px;
    margin: 20px;
}

.WWE h2 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.WWE p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.go{
    cursor:pointer;
    text-align: center;
    border: 1px solid white;
    font-size: 13px;
    margin-left: 30px;
    background: red;
    color: white;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background: lavenderblush;

}

.XXX {
    display: flex;
    padding:90px;
}

.XXX > li {
    margin:20px;
}

.XXX h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.XXX ul li {
    padding: 5px;
}

.ig {
    padding-top: 93px;
}

.ig a{
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.ig p {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.eag img{
    position: fixed;
    bottom: 0;
    right: 0;    
    max-width: 50px;
    margin: 20px;
    padding: 10px;
}
@media (max-width:768px) {
    .BBC-icon h3 a{
        font-size: 20px;
    }
    
    .BBC-icon h3 a:hover{
        font-size: 20px;
    }
    
    .USB {
        padding: 10px;
    }

    .USB p a{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        margin-left: 50px;
    }
    
    .ABC a {
        font-size: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .WWE {
        display: flex;
        max-width: 450px;
    }
    
    .WWE img {
        max-width: 120px;
    }
    
    .HBL {
        padding-left: 150px;
    }
    
    .HBL h2 {
        margin-left:10px;
        font-size: 15px;
    }
    
    .btn .go{
        font-size: 10px;
        margin: 10px;
    }
   
    .XXX {
        padding: 10px;
        text-align: center;
    }
    
    .XXX h2 {
        margin-top: 10px;
        font-size: 15px;
    }
    
    .XXX ul {
        font-weight: bolder;
        font-size: 10px;
    }
    
    .ig{
        padding: 40px;
    }
    
    .ig h2{
        font-size: 25px;
    }
    
    .ig p {
        padding: 0;
        font-size:15px;
    }  

    .eag a img {
        margin: 0;
        max-width: 30px;
    }

}

@media (max-width:500px) {
    
    .header h2 {
        padding:10px;
    }

    .header h2 a{
        font-size: 25px;
    }

    .header h2 a:hover{
        font-size: 25px;
    }
    
    .BBC-icon h2{
        display:block;
        cursor: pointer;
    }

    .me {
        padding-bottom: 250px;
    }

    .BBC-icon h3{
        display:none;
    }

    .mobile-link {
        color:block;
        font-size:50px;
    }

    .leaguer {
        display: none;
    }

    .USB {
        display: none;
    }

    .content{
        display: flex;
        justify-content: center;
    }

    .WWE {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .HBL {
        padding: 0;
        margin: 0;
    }

    .footer {
        display: flex;
        flex-direction:column;
    }

    .WWE {
        max-width:200px;
    }

    .WWE img {
        max-width:120px;
    }

    .btn {
        padding-left: 12px;
    }

    .go {
        padding: 10px;
    }

    .XXX {
        display: flex;
        flex-direction: column;
    }

    .XXX > li {
        margin: 0;
    }

    .XXX li h2 {
        font-size: 20px;
        border: 2px solid black;
    }

    .XXX li h2:hover {
        cursor: pointer;
        font-size: 20px;
        color: white;
        background: red;
        border: 2px solid black;
    }

    .XXX > li li {
        margin: 5px 0;
    }

    .XXX ul {
        display:none;
    }

    .XXX ul li  {
        padding: 10px;
    }

    .ig p{
        font-size: 40px;
        padding-left: 5px;
    }

    .eag a img {
        max-width: 50px;
    }
}