/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing:border-box;
}

.warp{
    overflow: hidden;
    background-image: url(https://img.51miz.com/Element/00/64/91/45/05067f5c_E649145_ad4ae01h.jpg);    
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lavenderblush;
    flex-direction:column;/*建議新增*/
}

.header h2 a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: black;
}

.header h2 a:hover{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: red;
}

.me {
    display: flex;
    align-items: center;
    flex-direction:column;/*建議新增*/
}


.me > li {
    text-align: center;
    display:block;
    font-size: 15px;
    font-weight: bold;
    color: darkgray;
    padding: 15px;
}

.me li .dropdown {
    color: black;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.me li .dropdown:hover {
    color: red;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
}


.me > li li  {
    margin: 10px 0;
}

.me ul {
    display: none;
}

.header {
    z-index: 100%;
    position: fixed;
    top: 0;
    height: calc(100vh-header);
    bottom: 0;
    width: 200px;
    height: 100%;
    background:lavenderblush;
    overflow: hidden;
    transform: translateX(-200px);
    transition: all 0.8s;
}
  

.open .header {
  transform: translateX(0px);
  transition: all 0.5s;
}
.open .BBC {
  transform: translateX(200px);
  transition: all 0.5s;
}


.leaguer a{
    font-size: 30px;
    padding: 5px;
    color: black;
}

.BBC-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lavenderblush;
}

.BBC-icon h2{
    display:none;
}

.BBC-icon h3 a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: black;
}

.BBC-icon h3 a:hover{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: red;
}

.what {
    display: flex;
    align-items: center;
}


.what > li {
    text-align: center;
    display:block;
    font-size: 15px;
    font-weight: bold;
    color: darkgray;
    padding: 15px;
}

.what li .AIT {
    color: black;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.what li .AIT:hover {
    color: red;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
}


.what > li li  {
    margin: 10px 0;
}


.what ul {
    display: none;
}

.ABC a{
    font-size: 30px;
    padding: 5px;
    color: black;
}


.content {
    padding: 30px;
}

.cat {
    display: flex;
    align-items: center;
    background:white;
    box-shadow: 0 0 15px black;
    padding: 30px;
    margin-top:20px;
}

.cat img {
    max-width: 200px;
    border-radius: 20px;
}

.CBA {
    display: flex;
    flex-direction: column;
    padding-left: 900px;
    padding-top: 50px;
}

.CBA h2 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.CBA p {
    font-size: 17px;
    font-weight: bolder;
    padding-top: 15px;
}

.CBA button {    
    margin-top:40px;
    margin-left: 220px;
    border: 1px solid black;
    cursor: pointer;
}

.go {
    cursor: pointer;
    margin-left: 1370px;
    margin-bottom: 30px;
    background: lawngreen;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background: lavenderblush;

}

.XXX {
    display: flex;
    padding:90px;
}

.XXX > li {
    margin:20px;
}

.XXX h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.XXX ul li {
    padding: 5px;
}

.ig {
    padding-top: 93px;
}

.ig a{
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.ig p {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.eag img{
    position: fixed;
    bottom: 0;
    right: 0;    
    max-width: 50px;
    margin: 20px;
    padding: 10px;
}

@media (max-width:768px) {

    .BBC-icon h3 a{
        font-size: 20px;
    }
    
    .BBC-icon h3 a:hover{
        font-size: 20px;
    }
    
    .what .AIT {
        font-size: 20px;
    } 
    
    .ABC a {
        font-size: 20px;
    }

    .CBA {
        padding-left: 70px;
    }

    .CBA p {
        text-align: center;
    }

    .go {
        margin-left:600px;
    }

    .XXX {
        padding: 10px;
        text-align: center;
    }


    .XXX h2 {
        margin-top: 10px;
        font-size: 15px;

    }

    .XXX ul {
        font-weight: bolder;
        font-size: 10px;
    }

    .ig{
        padding: 40px;
    }

    .ig h2{
        font-size: 25px;
    }

    .ig p {
        padding: 0;
        font-size:15px;
    }

    .eag a img {
        margin: 0;
        max-width: 30px;
    }
}

@media (max-width:500px) {

    .header h2 {
        padding:10px;
    }

    .header h2 a{
        font-size: 25px;
    }

    .header h2 a:hover{
        font-size: 25px;
    }

    .BBC-icon h2{
        display:block;
        cursor: pointer;
    }

    .me {
        padding-bottom: 250px;
    }

    .BBC-icon h3{
        display:none;
    }

    .mobile-link {
        color:block;
        font-size:50px;
    }

    .leaguer {
        display: none;
    }

    .what {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .cat {
        display: flex;
        flex-direction: row;
    }

    .cat img {
        max-width: 100px;
    }

    .CBA {
        max-width: 300px;
        padding: 0;
        margin: 0;
    }

    .CBA h2 {
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
    }

    .CBA p {
        font-size:10px;
        margin:0;
        text-align: center;
    }

    .CBA button {
        margin: 20px;
    }

    .go { 
        font-size: 12px;
        margin-left:410px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    
    .XXX {
        display: flex;
        flex-direction: column;
    }

    .XXX > li {
        margin: 0;
    }

    .XXX li h2 {
        font-size: 20px;
        border: 2px solid black;
    }

    .XXX li h2:hover {
        cursor: pointer;
        font-size: 20px;
        color: white;
        background: red;
        border: 2px solid black;
    }

    .XXX > li li {
        margin: 5px 0;
    }

    .XXX ul {
        display:none;
    }

    .XXX ul li {
        padding: 10px;
    }

    .ig p{
        font-size: 40px;
        padding-left: 5px;
    }

    .go {
        font-size: 50px;
        margin-top: 20px;
        margin-left: 150px;
    }

    .eag a img {
        max-width: 50px;
    }
}